.dub
docs.json
__dummy.html
docs/
/misanthropyd
misanthropyd.so
misanthropyd.dylib
misanthropyd.dll
misanthropyd.a
libmisanthropyd.a
misanthropyd.lib
misanthropyd-test-*
.vscode
*.exe
*.o
*.obj
*.lst
